@using BlogProject.Businness.Dtos.Article
@using BlogProject.Core.Business.Concrete

@model CustomResponseDto<IList<ArticleListDto>>


<!-- Begin Page Content -->
@* <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        Makaleler, genellikle belirli bir konu hakkında detaylı bilgiler sunan yazılı eserlerdir. Bilimsel makaleler, araştırmacıların yeni bulgularını paylaştıkları, akademik topluluk tarafından değerlendirilen ve genellikle uzman bir editör ekibi tarafından gözden geçirilen çalışmalardır. Diğer yandan, blog yazıları gibi daha gayriresmi makaleler, geniş bir okuyucu kitlesine hitap eden, daha kişisel veya hikayeleştirilmiş içerikler sunabilir. Her iki türde de, makaleler bilgi aktarımının ve fikir alışverişinin önemli bir aracıdır.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Makaleler</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Thumbnail</th>
                        <th>Görüntülenme Sayısı</th>
                        <th>Yorum </th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Thumbnail</th>
                        <th>Görüntülenme Sayısı</th>
                        <th>Yorum </th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (ArticleListDto article in Model.Data)
                    {
                        <tr name="@article.Id">
                            <td>@article.Id</td>
                            <td>@article.Title</td>
                            <td>@article.Content</td>
                            <td>@article.Thumbnail</td>
                            <td>@article.ViewCount</td>
                            <td>@article.CommentCount</td>
                            <td>
                                <a class="btn btn-success btn-sm"><i class="fas fa-plus"></i></a>
                                <button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                <button data-id="@article.Id" class="btn btn-danger btn-sm btn-delete"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>

                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
 *@

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Makale</h1>
    <p class="mb-4">
        Makaleler, genellikle belirli bir konu hakkında detaylı bilgiler sunan yazılı eserlerdir. Bilimsel makaleler, araştırmacıların yeni bulgularını paylaştıkları, akademik topluluk tarafından değerlendirilen ve genellikle uzman bir editör ekibi tarafından gözden geçirilen çalışmalardır. Diğer yandan, blog yazıları gibi daha gayriresmi makaleler, geniş bir okuyucu kitlesine hitap eden, daha kişisel veya hikayeleştirilmiş içerikler sunabilir. Her iki türde de, makaleler bilgi aktarımının ve fikir alışverişinin önemli bir aracıdır.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">makaleTable</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Başlık</th>
                                        <th>İçerik</th>
                                        <th>Thumbnail</th>
                                        <th>Görüntülenme Sayısı</th>
                                        <th>Yorum </th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Başlık</th>
                                        <th>İçerik</th>
                                        <th>Thumbnail</th>
                                        <th>Görüntülenme Sayısı</th>
                                        <th>Yorum </th>
                                        <th>İşlemler</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (ArticleListDto article in Model.Data)
                                    {
                                        <tr name="@article.Id">
                                            <td>@article.Id</td>
                                            <td>@article.Title</td>
                                            <td>@article.Content</td>
                                            <td>@article.Thumbnail</td>
                                            <td>@article.ViewCount</td>
                                            <td>@article.CommentCount</td>
                                            <td>
                                                <a class="btn btn-success btn-sm"><i class="fas fa-plus"></i></a>
                                                <button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                                <button data-id="@article.Id" class="btn btn-danger btn-sm btn-delete"><i class="fas fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/js/article/articelIndex.js" type="application/ecmascript"></script>
}
<!-- /.container-fluid -->